body {
	background-color: #007f79;
}
/*#Dad {*/
/*	padding: 0;*/
/*}*/
#full-text-logo-box
 {
	background-color: #007f79;
	height: 12.5em;
	margin: 0 0 2rem 0;
}
#send-button {
	background-color: #007f79;
	color: white;
}
#reset-button {
	background-color: #686868;
	color: white;
}
#S7-icon-nav-logo {
	width: 4.5rem;
	height: 2.9rem;
}
#Seraph7-top-logo {
	display: flex;
	justify-content:flex-start;
	flex-direction: row-reverse;
}
/*The Cards are listed below:*/
/*Quote Card in below:*/
#Quote {
	height: 30em;
	text-align: right;
}
#s7-full-logo {
	width: 37.5rem;
	height: 25.25rem;
	display: flex;
	align-items: center;
}
#dangerous-alone{
	margin: 12rem 0 0 0;
}
#dangerous-alone-text {
	font-size: larger;
}
/*About S7 Card below:*/
#About-S7 {
}
#About-S7-Text {
	font-size: 1.45rem;
}
/*Discord card is below:*/
#Discord {
	height: 30em;
}
#Discord-Symbol{

}
/*Testimonial card is below:*/
#Testimonials {
	height: 30em;
}
/*The contact card is below:*/
#Contact-form {

}