body {
	background-color: #007f79;
}
#full-text-logo-box
 {
	background-color: #007f79;
	height: 12.5em;
	margin: 0 0 2rem 0;
}
#send-button {
	background-color: #007f79;
	color: white;
}
#reset-button {
	background-color: #686868;
	color: white;
}
#S7-icon-nav-logo {
	width: 5rem;
}
#Seraph7-top-logo {
	margin-top: 2vw;
	margin-bottom: 2vw;
	margin-left: 74vw;
	width: 20vw;
}
/*The Cards are listed below:*/
/*Quote Card in below:*/
#Quote {
	text-align: right;
}
#s7-full-logo {
	width: 17.5rem;
}
#dangerous-alone{
	margin: 12rem 0 0 0;
}
#dangerous-alone-text-1 {
	font-size: larger;
}
/*About S7 Card below:*/
#About-S7 {

}
#About-S7-Text {
	font-size: 1.45rem;
}
#S7-one-wing-logo {
	height: 35vw;
}
/*Discord card is below:*/
#Discord {

}
#Discord-Symbol{

}
/*Testimonial card is below:*/
#Testimonials {
	background-color:#fff;
}
#Testimonials-2 {
	border-radius: 25px;
}
#blank-space {
	background-color: #007f79;
}
/*The contact card is below:*/
#Contact-form {

}
#footer-nav {

}