h1 {
	text-align: center;
	color: black;
}

img{
	width: 300px;
	height: auto;
	border: solid gray;
}

body{
	text-align: left;
	background-image: url("cool-background.png");
	background-position: center;
	font-family: sans-serif, Arial;
	text-rendering: optimizeLegibility;
}